<!DOCTYPE html>
<html>
<head>
    <title>Create Live Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">

        <h2>🎮 Create Live Quiz</h2>

        <form method="POST">

            <input
                type="text"
                name="quiz_title"
                placeholder="Enter Quiz Title"
                required
            >

            <label for="duration">⏱️ Select Quiz Time</label>

                <select name="duration" id="duration" required>
                      <option value="">Select Time</option>
                      <option value="0.5">30 Seconds</option>
                      <option value="1">1 Minute</option>
                      <option value="2">2 Minutes</option>
                      <option value="5">5 Minutes</option>
                      <option value="10">10 Minutes</option>
                </select>

            <h3>Select Questions</h3>

            {% for question in questions %}

            <div class="question-card">

                <label>
                    <input
                        type="checkbox"
                        name="question_ids"
                        value="{{ question.id }}"
                    >

                    {{ question.question }}
                </label>

            </div>

            {% endfor %}

            <button type="submit" class="btn">
                Create Quiz
            </button>

        </form>

    </div>
</div>

</body>
</html>